
<div class="main">

<h1>EDIT USER</h1>
  <%= form_for @user do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email %><br>

  <%= f.label :password %>
  <%= f.password_field :password %><br>

  <%= f.label :username %>
  <%= f.password_field :username %><br>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %><br>

  <%= f.label :image%>
  <%= f.url_field :image %><br><br>

  <%= f.submit %><br><br>
<% end %>
</div>
