
<div class="main">

<h1>EDIT USER</h1>
  <%= form_for @user, html: {multipart: true} do |f| %>
<fieldset> <%= f.label :email %><%= f.email_field :email %></fieldset>
<fieldset> <%= f.label :username %><%= f.text_field :username, :required => true %></fieldset>
<fieldset> <%= f.label :password %><%= f.password_field :password, :required => true %></fieldset>
<fieldset> <%= f.label :password_confirmation %><%= f.password_field :password_confirmation, :required => true %></fieldset>
<fieldset><%= f.label :image %><%= file_field_tag :image %> </fieldset>

<fieldset><%= f.submit %></fieldset>

<% end %>
</div>
