<div class="users-pages">

<h1><%= @user.email%></h1>


<%= image_tag(@user.image,  :class => 'thumb') %><br>

<hr>
<%= link_to 'Edit Profile', edit_user_path %>
<hr>

  <h2> Whish List  </h2>
  <p> <%= @user.favorites.count%> products</p>
  <div class="products">

  <% @user.favorites.each do |favorite| %>
  <%= link_to(image_tag(favorite.favorited.image, :class => "thumb"), products_path) %>
  <% end %>
</div>

</div>
