<div class="main">

<h1><%= @user.username.capitalize %></h1>


<%= image_tag(@user.image,  :class => 'thumb') %><br>
<p> <%= @user.email%></p>

<hr>
<p><%= link_to 'Edit Profile', edit_user_path %><p>
<p><%= link_to 'Delete Profile', @user, :method => :delete %></p>

<hr>

  <h2> Whish List  </h2>
  <p> <%= @user.favorites.count%> products</p>
  <div class="products">

  <% @user.favorites.each do |favorite| %>
  <%= link_to(image_tag(favorite.favorited.image, :class => "thumb"), products_path) %>
  <% end %>
</div>

</div>
