<div class="main">
  <% @order.id %>
  <h1>Update Order Status</h1>
  <p>Order_id: <%= @order.id %></p>
  <% @purchased_items.each do |item| %>
    <p>Product id: <%= item.product_id %></p>
    <p>Quantity: <%= item.quantity %></p>
    <p>Total Price: <%= number_to_currency(item.unit_cost * item.quantity)  %></p>
  <% end %>
    <p>Total Price: <%= number_to_currency(@order.total_cost) %></p>
    <p>Order Status: <%= @order.order_status %></p>
  <%= form_for @order do |f| %>
    <%= f.label :purchased %>
    <%= f.date_field :purchase_date %>
    <%= f.label :paid %>
    <%= f.date_field :payment_date %>
    <%= f.label :shipped %>
    <%= f.date_field :shipped_date %>
    <%= f.label :finalised %>
    <%= f.date_field :finalised_date %>
    <%= f.submit %>
  <% end %>
  <%= link_to 'Delete', @order, :method => :delete, :class => "button black" %>
</div>
