<div class="main">
<h1>Meus Pedidos</h1>

<% @orders.reverse_order.each do |order| %>
    <% if order.user_id.present? %>
        <% user = User.find order.user_id %>
    <% end %>
    <div class='row'>
      <table>
        <tbody>
          <tr>
            <td>Invoice: <%= order.invoice_number %></td>
            <td>Date: <%= order.purchase_date %></td>
            <td>Price: <%= number_to_currency(order.total_revenue) %></td>
            <td>Status: <%= order.order_status %> </td>
            <td>Status: <%= order.shipped_date %> </td>
            <td><%= link_to "View", order_path(order.id) %></td>
            <% if @current_user.present? & @current_user.admin? %>
            <td>User: <%= order.user_id %></td>
            <td> <%= link_to 'Atualizar', edit_order_path(order.id)  %></td>
              <% end %>
           </tr>
        </tbody>
      </table>
    </div>
    <% end %>

</div>
