<div class="main">
<% order_url(@order.id) %>
<h1>Order</h1>

<table>
  <tbody>
    <% @purchased_items.each do |item| %>
      <% product = Product.find item.product_id %>
        <tr>
          <td class="center"><%= link_to(image_tag(product.image, :class => 'mini-img'), product_path(product.id)) %></td>
          <td><%= product.name %></td>
          <td>Quantity: <%= item.quantity %></td>
          <td> Valor: <%= number_to_currency(Integer(product.price) * item.quantity)  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
    <p>Total Price: <%= number_to_currency(@order.total_revenue) %></p>

<% if @order.payment_date == nil %>
  <%= form_for(@order) do |f| %>
      <%= f.label :delivery_address %>
      <%= f.text_field :delivery_address %>
      <br>
      <br>
      <% inv = 'INV' + @order.id.to_s.rjust(5, '0') %>
      <%= f.hidden_field :invoice_number, :value => inv %>
      <%= f.submit "Submit", class: "button black" %>
  <% end %>
<% end %>
</div>
