
<div class="main">
  <div class="row">
    <h1>Shopping Cart</h1>
    <div class="column large-12">

      <% @total_price = 0 %>

      <table>
        <tbody>
          <% @cart.line_items.each do |item| %>
            <% product = Product.find item.product_id %>
            <% @total_price += (Integer(product.price) * item.quantity) %>

              <tr>
                <td class="center"><%= image_tag(product.image, :class => 'mini-img') %></td>
                <td> <%= item.product.name %></td>
                <td>
                  <%= link_to (button_tag "-" , :class => "circle-button"), update_item_path(:id => item.id, :sign => -1), :method => :put %>
                  <%= item.quantity %>
                  <%= link_to (button_tag "+", :class => "circle-button"), update_item_path(:id => item.id, :sign => 1), :method => :put %></td>
                <td> Valor: <%= number_to_currency(item.total_price) %></td>
                <td><%= link_to 'X', item, :method => :delete, :confirm => 'Are You Sure' %></td>

              </tr>
            <% end %>
          </tbody>
        </table>
        </div>

        <div class="column large-12">
          <h2>Preço Final: <%= number_to_currency(@cart.total_price) %></h2>
          <!-- <p><%= link_to ("Clear Cart"), delete_cart_path(:id => @current_user.id), :method => :delete %></p> -->
          <%= button_to "Checkout", new_order_path, method: :get, :class => 'button black' %>
           <%= link_to 'Empty cart', @cart, method: :delete, confirm: 'Are you sure?', :class => 'button black' %>
        </div>


  </div>
</div>
