<%= form_for(@category, html: {multipart: true}) do |f| %>
 <%= f.label :name %> <%= f.text_field :name %>
 <%= f.label :description %> <%= f.text_field :description %>
 <%= label_tag "Image:" %> <%= file_field_tag :image %>
 <%= label_tag "Banner"%> <%= file_field_tag :banner %>


  <%= f.label :product_ids, "Products:" %>
  <div class="inline-checkbox"><%= f.collection_check_boxes :product_ids, Product.all, :id, :name%></div>


<%= f.submit "Editar", :class => "button black"  %>

<% end %>
