<div class="trying">
<div class="banner">
  <div class="left panel"></div>
  <div class="handle"><%=image_tag('setinha.png') %></div>
  <div class="right panel"></div>
</div>

</div>
<div class="index-description">
  <%= image_tag('meiofaixa.jpg') %>
</div>


<div class="index-categories">
  <%= image_tag("gifShop.gif") %>
  <%= image_tag("gifTexture.gif") %>
  <% @categories.each do |category| %>
    <%= link_to(image_tag(category.image, :class => 'category', :title => category.name), category) %>
  <% end %>
</div>
