<div class="main-page">

  <section class="banner">
    <div class="row">
      <div class="column large-12">
        <div class="left-image panel">
          <div id="handle" class="ui-resizable-handle ui-resizable-e"></div>
        </div>
        <div class="right-image panel">
        </div>
      </div>
    </div>
  </section>

  <section class="index-description">
    <p>
      <span class="blue-text">Rie.</span>
      <span class="black-text">Porque o Rio continua lindo</span>
      <span class="blue-text">:)</span>
    </p>
    <p class="normal-text"> Na Rie acreditamos que rir deixa a alma mais leve</p>
    <p class="gray-text"> e você, já riu muito hoje? </p>
  </section>

  <section class="categories-links">
    <div class="grid">
      <div class="grid-item hide-small">
        <%= link_to(image_tag("shopnow.gif"), products_path) %>
      </div>
      <div class="grid-item image-b">
        <a href="/categories/28"><%=image_tag("posters.jpg", :class=> "link-img")%></a>
      </div>
      <div class="grid-item">
        <a href="/categories/25"><%= image_tag("bags.jpg", :class=> "link-img") %></a>
      </div>
      <div class="grid-item">
        <a href="/categories/27"><%= image_tag("almofadas.jpg", :class=> "link-img") %></a>
      </div>
      <div class="grid-item image-g">
        <a href="/categories/26"><%= image_tag("postais.jpg", :class=> "link-img") %></a>
      </div>
      <div class="grid-item hide-small">
        <%= image_tag("gifTexture.gif") %>
      </div>
    </div>
  </section>
</div>
