<div class="banner2">
  <%= image_tag(@category.banner) %>

  <p class="name-cat"><%= @category.name %></p>

</div>

<div class="main">

  <section class="products-index">
    <div class="row">
      <div class="column large-12">
        <div class="row">
          <% @category.products.each do |product| %>
            <div class="column large-4 medium-6 end">
              <%= link_to(image_tag(product.image, :class => 'thumb'), product) %>
              <p><%= link_to product.name, product %></p>
              <p> <%= link_to(image_tag("http://s29.postimg.org/npu90mir7/corazon6.png"), product) %>
              <%= product.favorites.count %></p>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</div>

<% if @current_user.present? %>
  <% if @current_user.admin? %> <hr>
    <p><%= link_to 'Edit Category', edit_category_path %></p>
    <p><%= link_to 'Delete Category', @category, :method => :delete %></p><hr><br><br>
  <% end %>
<% end %>
