<h1><%= @category.name%></h1>


<%= image_tag(@category.image) %>
<p> <%= @category.description %> </p>



<% if @current_user.present? %>
<% if @current_user.admin? %>
<%= link_to 'Edit Product', edit_category_path %><br>
<%= link_to 'Delete Product', @category, :method => :delete %>
<% end %>
<% end %>
