
<%= form_for(@product, html: {multipart: true}) do |f| %>
 <%= f.label :Nome %> <%= f.text_field :name %>
 <%= f.label :Preço %> <%= f.text_field :price %>
 <%= f.label :Estoque %> <%= f.text_field :inventory %>
 <%= f.label :Descrição %> <%= f.text_field :description %>
 <%= label_tag :Foto %> <%= file_field_tag :image %>
 <%= label_tag :Foto2 %> <%= file_field_tag :imageshow %>

  <%= f.label :category_ids, "Categories:" %>
  <div class="inline-checkbox"><%= f.collection_check_boxes :category_ids, Category.all, :id, :name%></div>

  <%= f.submit "Editar", :class => "button black"  %>

<% end %>
