<div class="main">
  <h1>Products</h1>
    <% @products.reverse.each do |product| %>
  <div class="products">
    <%= link_to(image_tag(product.image, :class => 'thumb'), product) %>
    <p> <%= link_to(image_tag("http://s29.postimg.org/npu90mir7/corazon6.png"), product) %>
    <%= product.favorites.count %></p>
    <p><%= product.name %></p>
    <p><%= product.price %> <p>
  </div>
  <% end %>
</div>
