<div class="main">
  <section class="products-index">
    <div class="row">
      <div class="column large-12">
        <div class="row" data-equalizer data-equalize-on="large" id="test-eq">
            <% @products.reverse.each do |product| %>
            <div class="column large-4 medium-6 end">
              <div class="products-image" data-equalizer-watch>
                <div class="firstImg">
                  <%= link_to(image_tag(product.image, :class => 'thumb'), product) %>
                </div>
                <div class="secondImg">
                  <%= link_to(image_tag(product.imageshow, :class => 'thumb'), product) %>
                </div>
                <p> <%= link_to(image_tag("http://s29.postimg.org/npu90mir7/corazon6.png"), product) %>
                <%= product.favorites.count %></p>
                <p><%= link_to product.name, product %></p>
                <p>R$ <%= product.price %>,00 <p>
                  <% if product.inventory === 0 %>
                  <p> Esgotado </p>
                  <% end %>
              </div>
          </div>

          <% end %>
        </div>
      </div>
    </div>
  </section>
</div>
