<div class="main">
  <div class="productimage">
    <% if @product.imageshow.present? %>
    <%= image_tag(@product.imageshow) %>
    <%else %>
    <%= image_tag(@product.image) %>
    <% end %>
  </div>

<div class="producttext">
  <h1><%= @product.name%></h1>
  <p> <%= @product.price %> </p>
  <p> <%= @product.description %> </p>
  <h3>Category</h3>
     <% @product.categories.each do |category| %>
     <%= link_to(category.name, category) %> <br>
     <% end %>

     <% if @current_user.present? %>
     <h3>Whish List</h3>
     <%- unless @current_user.favorited_products.exists?(id: @product.id) -%>
     <%= link_to image_tag("http://s8.postimg.org/c3kr0ngsh/corazon4.png"), favorite_products_path(product_id: @product), method: :post %>
     <%= @product.favorites.count %>
     <br><%= "Give me a like!" %>

     <%else %>
     <%= link_to image_tag("http://s29.postimg.org/npu90mir7/corazon6.png"), favorite_product_path(@product), method: :delete %>
    <%= @product.favorites.count %>
     <br><%= "You loved it!" %>
     <% end %>
     <% end %>

     <br><hr><%= link_to('Back', products_path) %>
  </div>
</div>


<% if @current_user.present? %>
  <% if @current_user.admin? %>
    <br><br><hr>
    <%= link_to 'Edit Product', edit_product_path %><br>
    <%= link_to 'Delete Product', @product, :method => :delete %>
    <br><hr><br>
  <% end %>
<% end %>
