<div class="main">
  <div class="row">
    <h1>Profit Report</h1>
      <div class="column large-12">
        <h5>Total Sales: <%= number_to_currency(@grand_total_revenue) %></h5>
        <h5>Total Cost: <%= number_to_currency(@grand_total_cost) %></h5>
        <h5>Gross Profit: <%= number_to_currency(@gross_profit) %></h5>
        <h5>GP%: <%= number_to_percentage(@gross_profit_percentage * 100) %></h5>
      </div>
      <div class="column large-12">
        <table>
          <tbody>
            <tr>
             <th>Image</th>
             <th>Produto</th>
             <th>Vendidos</th>
             <th>Vendidos</th>
             <th>Custo</th>
             <th>Profit</th>
             <th>Gros</th>
           </tr>
           <% @products.each do |product| %>
               <% total_revenue = 0 %>
               <% total_cost = 0 %>
               <% total_quantity = 0 %>
               <% lines = @line_items.where(:product_id => product.id) %>
               <% lines.each do |item| %>
                   <% total_revenue += item.unit_price * item.quantity %>
                   <% total_cost += item.unit_cost * item.quantity %>
                   <% total_quantity += item.quantity %>
               <% end %>
               <% gross_profit = total_revenue - total_cost %>
              <tr>
                <td><%= image_tag product.image, :class => 'mini-img'%></td>
                <td><%= link_to product.name, product %></td>
                <td><%= total_quantity %></td>
                <td> <%= number_to_currency(total_revenue) %></td>
                <td><%= number_to_currency(total_cost) %></td>
                <% unless (total_revenue == 0) %>
                <td><%= number_to_currency(gross_profit) %></td>
                <td> <%= number_to_percentage(gross_profit / (total_revenue) * 100) %></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
  </div>
</div>
