<div class="main">
  <div class="row">
    <h1>Orders to be shipped</h1>
    <div class="column large-12">
      <table>
        <tbody>
          <tr>
           <th>Cliente</th>
           <th>Data de Pagamento</th>
           <th>Endereço de Entrega</th>
           <th>Ver Pedido</th>
           <th>Produto</th>
           <th>Quantidade</th>

         </tr>
         <% @orders.each do |order| %>
         <% user = User.find order.user_id  %>
            <tr>
              <td><%= order.payment_date %></td>
              <td><%= user.username %></td>
              <td><%= order.delivery_address %></td>
              <td><%= link_to(button_tag("Ver Pedido"), order_path(order.id)) %></td>
            <% lines = ItemCart.where(order_id: order.id) %>
            <% lines.each do |line| %>
            <% product = Product.find line.product_id %>
              <td><%= product.name %></td>
              <td><%= line.quantity %></td>
            </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
