<!DOCTYPE html>
<html>
<head>
  <title>RieApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
      <%= link_to 'Somos Rie', root_path %>
      <%= link_to "Products", products_path %>
      <a href="/">
        <img class="logo" src="http://s10.postimg.org/mumw7xd9x/rie.png" alt="" />
      </a>

      <% if @current_user.present? %>
      <% if @current_user.admin? %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          Admin
          <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <%= link_to "Add Product", new_product_path %>
        <li role="separator" class="divider"></li>

        <%= link_to "Add Categorie", new_category_path %>
         </ul>
     </li>
   </ul>
      <% end %>
      <%= link_to "Products", products_path %>
       <a href="/users/<%=@current_user.id%>">Your Profile</a>
      <%= link_to "Logout #{@current_user.email}", login_path, :method => :delete %>
      <% else %>
       <%= link_to "Sign up", signup_path %>
       <%= link_to "Login", login_path %>
      <% end %>
</nav>




  <% if flash[:error].present? %>
    <h2 class="error"> <%= flash[:error] %> </h2>
  <% end %>

    <%= yield %>


<div class="footer">
  <div class="information">
      <p>Rie.</p>
      .......................................................................................................</p>
      <p>Produtos feitos com amor na cidade maravilhosa.</p>
      <p>.......................................................................................................</p>
      <p>Cartões Postais - Almofadas- Canvas - Tote Bags</p>
  </div>

  <div class="socialmedia">
     <a href="https://www.facebook.com/somos.rie/" target="_blank"><img src="https://media-public.canva.com/MAAkOkcVoNM/2/thumbnail.png" alt="tumblr" class="social-media"></a>
     <a href="https://www.instagram.com/rie.store/" target="_blank"><img src="https://media-public.canva.com/MAAkOoMEZes/2/thumbnail.png" alt="instagram" class="social-media"></a>
     <a href="mailto:contac@rie.com"><img src="https://media-public.canva.com/MAAkOgkJpj4/2/thumbnail.png" alt="email" class="social-media"></a>
  </div>

</div>

</body>
</html>
