<!DOCTYPE html>
<html>
<head>

  <title>Somos Rie</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="//npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= cloudinary_js_config %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="http://s19.postimg.org/i20kwj02n/logo30x30.png"/>

</head>
<body class="<% params[:controller] %>">

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=483455001836403";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

<nav>
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="center-block" href="/">
        <img class="logo" src="http://s19.postimg.org/ck9te80mb/logorie.png" alt="" />
        </a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">PRODUCTS <b class="caret"></b></a>
            <ul class="dropdown-menu">
            <li class="dropdown-header"></li>
              <li><%= link_to "All Products", products_path %></a></li>
              <li role="separator" class="divider"></li>
              <li> <a href="/categories/25">Accessories</a>
              <li> <a href="/categories/26">Stationary</a>
              <li> <a href="/categories/27">Home</a>
              <li> <a href="/categories/28">Clothes</a>
            </li></ul>
            <li><%= link_to "SOMOS RIE", root_path %></li>

          <% if @current_user.present? %>
         <li><a href="/users/<%=@current_user.id%>"> PROFILE</a></li>
         <li><%= link_to "LOGOUT #{@current_user.username.upcase}", login_path, :method => :delete%></li>
          <li class="dropdown">
            <% if @current_user.admin? %>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">ADMIN <b class="caret"></b></a>
            <ul class="dropdown-menu">
            <li class="dropdown-header">Admin</li>
              <li><%= link_to "Add Product", new_product_path %></a></li>
              <li><%= link_to "Add Categorie", new_category_path %></a></li>
              <li><%= link_to "All Users", users_path %></a></li>
               <% end %>
            </ul></li>
            <% else %>
           <li><%= link_to "SIGNUP", signup_path %></li>
           <li><%= link_to "LOGIN", login_path %></li>
          <% end %>

        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</nav>
        </div>
    </div>
  </div>

  <% if flash[:error].present? %>
  <div class="main">
        <h2 class="error"> <%= flash[:error] %> </h2>
      </div>

  <% end %>

    <%= yield %>


<div class="footer">
  <div class="pic">
<%= image_tag("http://s19.postimg.org/s8drt99ur/rieeee.png") %>

  </div>
  <div class="socialmedia">
     <a href="https://www.facebook.com/somos.rie/" target="_blank"><img src="https://media-public.canva.com/MAAkOkcVoNM/2/thumbnail.png" alt="tumblr" class="social-media"></a>
     <a href="https://www.instagram.com/rie.store/" target="_blank"><img src="https://media-public.canva.com/MAAkOoMEZes/2/thumbnail.png" alt="instagram" class="social-media"></a>
     <a href="mailto:contac@rie.com"><img src="https://media-public.canva.com/MAAkOgkJpj4/2/thumbnail.png" alt="email" class="social-media"></a>
  </div>
  <div class="fb-like" data-href="https://www.facebook.com/somos.rie/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>


</div>

</body>
</html>
